html {
    scroll-behavior: smooth;
}

.tm-section-head a,
.tm-section-head a:hover,
.tm-section-head a:visited,
.tm-section-head a:active {
    color: inherit;
    text-decoration: none;
}

.tm-slider-caption {
    background-color: rgba(206, 212, 218, 0.67);
    padding: 0px 30px;
}

.navbar-light a.navbar-brand {
    text-shadow: 0px 0px 7px white;
}

.navbar-light button.navbar-toggler {
    background: white;
    opacity: 0.5;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.6)
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, 0.9)
}

.form-group.required label:after {
    content: "*";
    color: red;
}

.input-group button {
    font-size: 100%;
    margin-top: 0px;
    padding: 6px 12px;
}

.leaflet-bottom.leaflet-right {
    z-index: 999;
}

.leaflet-popup.leaflet-zoom-animated {
    bottom: 0 !important;
}

.text-large {
    font-size: 120%;
}

.list-group-horizontal-md > .list-group-item + .list-group-item {
    border-top-width: 1px;
    border-left-width: 1px;
}

.list-group-horizontal-md > .list-group-item:focus,
.list-group-horizontal-md > .list-group-item:hover {
    background-color: #f8f9fa;
}

.diary-popup-dot {
    position: absolute;
    top: -1px;
    left: -7px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

span.ajax-status-indicator {
    background: none;
    border: none;
    position: absolute;
    right: 42px;
    height: 100%;
    z-index: 3;
}

@media (max-width: 575.98px) {
    .qth-name-sm {
        font-size: 80%;
    }
}

@media (min-width: 576px) {
    .qth-name-sm {
        font-size: 100%;
    }
}

@media (max-width: 767.98px) {
    .qth-name-md {
        font-size: 80%;
    }
}

@media (min-width: 768px) {
    .qth-name-md {
        font-size: 100%;
    }
}
