html {
    scroll-behavior: smooth;
}

.tm-section-head a,
.tm-section-head a:hover,
.tm-section-head a:visited,
.tm-section-head a:active {
    color: inherit;
    text-decoration: none;
}

dl.contests dt {
    display: inline;
}

dl.contests dd {
    float: right;
}
